#menu{
    width: 35px;
    height: 30px;
    margin: 30px 0 20px 20px;
    cursor: pointer;  
}

.bar{
    height: 5px;
    width: 100%;
    background-color: #0000FF;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1{
    transform: translateY(-4px);
}

#bar3{
    transform: translateY(4px);
}

.nav li a { /* cor fonte menu */
    font-family: "Poppins 500","Noto Sans Regular","Helvetica Neue",Arial,sans-serif;
    font-size: 20PX;
    color: white; 
    text-decoration: none;
}

.nav li a:hover { /* Cursos do mouse no menu */
    font-weight: bold;
    color:darkblue;
    
    
}

.nav li { /* Formatação  títulos do menu*/
    list-style: none;
    padding: 16px  0;
    
        
}

.nav{
    padding: 30px;
    margin: 0 20px;
    transition: 0.3s ease ;
    display: none;
}

.menu-bg, #menu-bar{
    top:0;
    left: 0;
    position: absolute;
}
.menu-bg{ /* estilo ao abrir o menu*/ 
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    border-radius: 50%;
    transition: 0.3s ease;
}

#menu-bar{
    z-index: 2;
}

.change-bg{
    width: 550px;
    height: 540px;
    transform: translate(-60%, -30%);
}

.change .bar{
    background-color: #0000FF;
}

.change #bar1{
    transform: translateY(4px) rotateZ(-45deg) ;
}
.change #bar3{
    transform: translateY(-6px) rotate(45deg);
}
.change #bar2{
    opacity:0;
}
.change{
    display: block;
}






